
body{
    background-color: skyblue;
}
header{
    border-top: 10px solid gray;
    border-left: 10px solid gray;
    border-right: 10px solid black;
    border-bottom: 10px solid black;
    padding: 1px;
    background-color: white;
    
}
header nav ul{
    display: grid;
    list-style-type: none;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
    gap: 1px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 2px;

    
}
header nav ul li{
    border: 1px solid;
    
}

.images{
    display: grid;
    grid-template-columns: 0fr 3fr 0fr;
    border: 1px solid black;
    
}

.images img{
    width: 350px;
    height: 150px;
    
}

.images .bg-img{
    background-image: url("mid1.jfif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

main{
    display: flex;
    gap: 1px;
    background-color: white;
}

main .big-side{
    display: flex;
    border: 2px solid gray;
    flex: 6;
}

main .small-side{
    flex:2;
    padding: 5px;
    border: 2px solid gray;
}

main h2{
    background-color: black;
    color: white;
}

main .small-side form{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

main .small-side form .form-group{
    display: grid;
    gap: px;
    grid-template-columns: 1fr 1fr;
}
